<a href="https://colab.research.google.com/github/19PA1A0527/python-basics/blob/master/Untitled20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd # for handling data in the form of tables
import numpy as np # For handling matrix
from sklearn.model_selection import train_test_split # For spliting the data into train and test
from sklearn.linear_model import LinearRegression # for using the model
import matplotlib.pyplot as plt # for plotting

In [4]:
data=pd.read_csv("students_placement_data.csv")
data

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [5]:
data.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [0]:
x=data[["SSC Percentage","inter_Diploma_percentage"]].values
y=data[["B.Tech_percentage"]].values

In [9]:
x.shape

(117, 2)

In [10]:
y.shape

(117, 1)

In [0]:
X_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [13]:
model = LinearRegression()  
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
model.intercept_

array([-8.93757155])

In [16]:
model.coef_

array([[0.13815068, 0.74767901]])

In [18]:
predicted_quality=model.predict(x_test)
predicted_quality.shape

(24, 1)

In [19]:
x_test.shape

(24, 2)

In [0]:
Actual_predicted=pd.DataFrame({"Actual": y_test.flatten(), "Predicted": predicted_quality.flatten()})

In [21]:
Actual_predicted.head()

   Actual  Predicted
0   71.49  59.484282
1   81.10  74.392371
2   62.98  47.705109
3   68.70  62.290592
4   61.02  62.072696